.weather{
  place-self: center;
  padding: 20px;         
  border-radius: 8px;     
  background-image: linear-gradient(45deg,#2f4680,#500ae4);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  width: 280px;           
}

.search-bar{
  display: flex;
  align-items: center;
  gap:8px;               
}

.search-bar input{
  height: 40px;          
  border: none;
  outline: none;
  border-radius: 30px;
  padding-left: 15px;
  color: #626262;
  background: #ebfffc;
  font-size: 14px;        
  width: 170px;
}

.search-bar img{
  width: 38px;            
  padding: 10px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
}

.weather-icon{
  width:100px;           
  margin: 20px 0;
}

.temperature{
  color: #fff;
  font-size: 48px;        
  line-height: 1;
}

.location{
  color:#fff;
  font-size: 24px;        
}

.weather-data{
  width: 100%;
  margin-top: 25px;       
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.weather-data .col{
  display: flex;
  align-items: flex-start;
  gap:8px;
  font-size: 16px;        
}

.weather-data .col span{
  display: block;
  font-size: 12px;        
}

.weather-data .col img{
  width: 20px;            
  margin-top: 6px;
}
